.portfolioContainer > * {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstRow{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.secondRow{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolioCenterLabel{
    color: var(--color-secondary);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 6px;
    background-color: var(--bg-secondary);
}

#portfolioCenterLabel::after{
    content: '';
    margin-top: 1rem;
    background-color: var(--color-primary);
    width: 8rem;
    height: .1rem;
    border-radius: 75px 150px 0px 0px;
    display: inline-block;
}