.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: -6rem;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.letters > * {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-primary);
    width:5rem;
    height: 5rem;
    text-align: center;

}

.letters:hover > *{
    border-left: 4px solid var(--color-secondary);
}

.aboutMainDisplay {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1rem;
}