.aboutTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-secondary);
    width: 60%;
}

.aboutTextContainer > *  {
    margin: 1rem;
}

.aboutTextContainer > * > * {
    font-size: 1.5rem;
    color: var(--color-secondary)
}