.homeBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeContent {
  border: 10px solid var(--color-secondary);
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  font-size: 5rem;
  padding: 5rem 10rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 15px 0px 30px;
}

#middle{
    font-size: 125%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.homeTitlePrimary::before{
    content: '';
    height: .5rem;
    width: 20rem;
    border-radius: 15px;
    background: var(--bg-primary);
    display: inline-block;
    margin-left: 1.5rem;
    margin-top: -2rem;
    margin-bottom: -1rem;
    opacity: 50%;
}

.homeTitlePrimary::after{
    content: '';
    height: .5rem;
    width: 20rem;
    border-radius: 15px;
    background: var(--bg-primary);
    display: inline-block;
    margin-right: 5rem;
    opacity: 75%;
}

.homeTitlePrimary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
}

#middle::after{
    content: '';
    height: .25rem;
    width: 8rem;
    border-radius: 15px;
    background: var(--bg-primary);
    display: inline-block;
    margin-left: 2rem;
    margin-top: -.5rem;
    margin-right: 2rem;
}

#middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeTitleSecondary{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}
